h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #292929;
	font-family: sans-serif;
}
.main {
	direction: ltr;
	width: 900px;
	height: 95vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fa {
	direction: rtl;
}
.main img {
	width: 200px;
	height: 200px;
	border-radius: 50px;
	transition: transform 200ms linear;
}
.main img:hover {
	transform: scale(1.05);
}
.fixed-menu {
	position: fixed;
	width: 35px;
	top: -20px;
	right: 25px;
}
.fixed-menu img {
	opacity: 0.5;
	border-radius: 5px;
	width: 35px;
	height: 35px;
	transation-duration: 0.3s;
}
.fixed-menu img:hover {
	opacity: 1;
	transation-duration: 0.3s;
}
.fixed-menu ul {
	list-style-type: none;
	display: inline;
	line-height: 40px;
}